html {
  background: rgb(0, 89, 221);
  background: linear-gradient(
    0deg,
    rgba(0, 89, 221, 1) 20%,
    rgba(121, 175, 255, 1) 88%
  );
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  margin-top: 0;
  margin: 10px auto;
}
p {
  margin: 0;
  color: red;
  text-align: center;
}
.mainContainer {
  background: whitesmoke;
  border-radius: 10px;
  padding: 30px 40px;
}
.firstContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 250px;
}
.input {
  display: flex;
  flex-direction: column;
}
#add-btn {
  color: #0059dd;
  font-weight: bolder;
  margin: 20px 0 10px 0;
  width: 100px;
  background-color: whitesmoke;
  border: 1px solid #0059dd;
  border-radius: 10px;
  padding: 10px;
}
#add-btn:hover,
#add-btn:active {
  color: whitesmoke;
  background: #0059dd;
  cursor: pointer;
}
input {
  background: rgb(237, 237, 237);
  border: 0;
  outline: none;
  margin-top: 10px;
  padding: 10px;
}
input:focus {
  outline: 1px solid #0059dd;
}
.title {
  margin: 0;
  font-size: large;
}
h3 {
  padding-top: 5px;
  font-size: smaller;
  font-weight: 100;
  color: gray;
  margin: 0;
}
.appointment {
  position: relative;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 20px 15px;
}
h2 {
  margin: 0;
  font-size: medium;
  font-weight: 100;
}
.lc-one {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}
#starred {
  color: #0059dd;
  background: whitesmoke;
  border: 1px solid #0059dd;
  padding: 3px 20px;
  border-radius: 30px;
}
#starred:hover,
#starred:active {
  cursor: pointer;
  color: whitesmoke;
  background: #0059dd;
}
#deleteAll {
  color: whitesmoke;
  background: #0059dd;
  border: 1px solid #0059dd;
  padding: 3px 20px;
  border-radius: 30px;
}
#secondContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.star {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 100;
}

.delete {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.delete:hover {
  cursor: pointer;
  color: red;
}
.buttons {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 660px) {
  img {
    width: 100px;
  }
  .mainContainer {
    padding: 30px 30px;
  }
  .firstContainer {
    flex-direction: column;

    gap: 10px;
  }
  #secondContainer {
    gap: 0;
    grid-template-columns: none;
  }
  .lc-one {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1280px) {
  img {
    width: 300px;
  }
  .input {
    width: 400px;
  }
  .mainContainer {
    width: 800px;
  }
  .firstContainer {
    justify-content: space-around;
  }
  #secondContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
